body{
}
.container {
    margin-top:30px;
    text-align: center;
}
#jcropImage{
}
.jcrop-holder {
    margin:auto;
}
#preview {
    margin:40px auto 10px auto;
    display: none;
}
#saveBtn{
    margin-left:  auto;
    margin-right:  auto;
    display: none;
}


/*#range {
    width:200px;
    margin-bottom: 20px;
}*/